<mat-card class="mat-card-top">
	<mat-card-title>Feeder Loss Type</mat-card-title>

	
	<mat-card>		
				<mat-card-content>
					<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="50%">
						<mat-select  class="ml-xs mr-xs"  style="width: 100%;" placeholder="Type" (ngModelChange)="onChange($event)" [(ngModel)]='FeederLoss'>
							<mat-option value="By Feeder" >By Feeder</mat-option>
							<!-- <mat-option value="By EDC" >By EDC</mat-option> -->
						  </mat-select>
					</mat-form-field>
					</mat-card-content>
					</mat-card>
					</mat-card>
					