<section class="mat-typography">

  <section class="mat-typography">
  <h2>Note:</h2>
  </section>

  <section class="mat-typography">
  <div><p>If any changes has been made, Please save before submitting the allotment.</p></div>
  <div><p>On submit, Please wait until action button turns completed.</p></div>

  </section>

    <div mat-dialog-actions>
        <button type="button" color="primary" mat-raised-button (click)="initiateAllotment()">Submit</button>
        <button type="button" color="primary" mat-raised-button (click)="close()">Go back to save changes</button>
    </div>
