<div fxLayout="row" fxLayoutWrap="wrap">

	<div fxFlex.gt-sm="100%" fxFlex="100">
		<mat-card>
			<mat-card-title> <strong>Energy Allotment Order Consumers</strong> </mat-card-title>
			<mat-card-content>

				<div fxLayout="row" fxLayoutAlign="start center">


					<!-- <mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
						<mat-select class="ml-xs mr-xs" style="width: 100%;" [disabled]="disableEdc" placeholder="Edc Name" [(ngModel)]='searchOrgId'>
							<mat-option *ngFor="let org of orgList" [value]="org.id">
								{{org.code}} - {{org.name}}
							</mat-option>
						</mat-select>
					</mat-form-field> -->

					<mat-form-field class="ml-xs mr-xs" style="width: 100%;">
						<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="Edc Name" [disabled]="isEdc" [(ngModel)]='searchOrgId' [required]="isMandatory">
							<mat-option *ngFor="let edc of orgList" [value]="edc.id">
								{{edc.code}} - {{ edc.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
						<input matInput placeholder="{{this.commonUtils.getProp('seller')}}  Company Name" [(ngModel)]="searchCompanyName">
					</mat-form-field>

					<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
						<input (keydown)="numberFormat($event)" type="text"  onKeyPress="if(this.value.length==12) return false;" matInput placeholder="Company Service Number" [(ngModel)]="companyServiceNumber" [disabled]="disableCompanyName">
					</mat-form-field>

					<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
						<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="Statement Month" [(ngModel)]='searchMonth' readonly>
							<mat-option *ngFor="let month of months" [value]="month.value">
								{{ month.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
						<mat-select class="ml-xs mr-xs" style="width: 100%;"
						placeholder="Year" [(ngModel)]="searchYear" readonly>
								<mat-option *ngFor="let year of years" [value]="year">
										{{ year }}
								</mat-option>
						</mat-select> 
						
					</mat-form-field>
					<mat-form-field class="ml-xs mr-xs" style="width: 100%;">
						<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="FuelType" [(ngModel)]='fuelTypeName'>
						  <mat-option *ngFor="let fuelTypes of fuelTypes" [value]="fuelTypes.fuelCode">
							{{fuelTypes.fuelName}}
						  </mat-option>
						</mat-select>
					  </mat-form-field>
					<hr>

					<mat-card-actions>
						<button mat-raised-button color="primary" class="primary" (click)="searchResults()">Search</button>
					</mat-card-actions>
				</div>
				<br/>
				<ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
				 [scrollbarV]="true">
					<ngx-datatable-column name="Edc Name">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.sellerEndOrgName}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Company Name">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.sellerCompanyName}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Service Number">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.sellerCompanyServiceNumber}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="FuelType">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.fuelTypeName}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Month - Year">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{commonService.displayMonth(row.month)}} - {{row.year}}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column *ngIf="this.accessViewFlag" name="Actions">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							<button mat-raised-button color="primary" class="mr-1" (click)="editEso(row['id'])">Open</button>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</mat-card-content>
		</mat-card>

	</div>

</div>