<mat-card class="mat-card-top">

	<mat-card-title>Banking Balance</mat-card-title>

	<ng-template mat-tab-label>Batch Details</ng-template>
	<mat-card>
		<mat-card-content>

			<div fxLayout="row" fxLayoutAlign="start center">

				<mat-form-field class="ml-xs mr-xs" style="width: 100%;">
					<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="Edc Name" [(ngModel)]='bankingBalance.sellerOrgId' [required]="isMandatory"
							(ngModelChange)="onEdcChange()">
							<mat-option *ngFor="let edc of orgList" [value]="edc.id">
									{{ edc.name }}
							</mat-option>
					</mat-select>
			</mat-form-field>

			<mat-form-field class="ml-xs mr-xs" style="width: 100%;">
					<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="Service number" [(ngModel)]='bankingBalance.sellerCompanyServiceId'
							[required]="isMandatory" (ngModelChange)="onServiceChange()">
							<mat-option *ngFor="let companyService of companyServices" [value]="companyService.id">
									{{ companyService.companyName }} - {{ companyService.number }}
							</mat-option>
					</mat-select>
			</mat-form-field>

		
			<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
				<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="Month" [(ngModel)]='bankingBalance.month' readonly>
					<mat-option *ngFor="let month of months" [value]="month.value">
						{{ month.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
				<input matInput placeholder="Year" [(ngModel)]="bankingBalance.year">
			</mat-form-field>
			</div>

			 <div fxLayout="row" fxLayoutAlign="start center">

				<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
					<input  matInput placeholder="C1" [(ngModel)]="bankingBalance.c1">
				</mat-form-field>
				<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
					<input  matInput placeholder="C2" [(ngModel)]="bankingBalance.c2">
				</mat-form-field>
				<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
					<input  matInput placeholder="C3" [(ngModel)]="bankingBalance.c3">
				</mat-form-field>		
				
				<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
					<input  matInput placeholder="C4" [(ngModel)]="bankingBalance.c4">
				</mat-form-field>

			</div> 

			<div fxLayout="row" fxLayoutAlign="start center">


				<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
					<input  matInput placeholder="C5" [(ngModel)]="bankingBalance.c5">
				</mat-form-field>
				<div class="ml-xs mr-xs" style="width: 100%;"></div>		
						
				<div class="ml-xs mr-xs" style="width: 100%;"></div>	
				<div class="ml-xs mr-xs" style="width: 100%;"></div>	
			</div> 



	

			<hr>
			<mat-card>
				<mat-card-actions>
					<button mat-raised-button color="primary"  (click)="saveBankingBalance('')">Save</button>
					<button mat-raised-button class="primary" (click)="listBankingBalance()">Cancel/Back</button>
				</mat-card-actions>
			</mat-card>