
:host ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .datatable-body-cell-label {
    width: 100%;
    font-size: 12px;
    white-space: initial;
}

// :host ::ng-deep .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
//     white-space: nowrap;
//     font-size: 10px;
//     font-weight: 600;
// }

.gs-btn{
    float: right;
    position: relative;
    bottom: 45px;
    left: 5px;
}

.div_pad{
    padding:10px;
}
.first{
    height: 30px;
}
.second{
    height: 70vh;
}
.save_btn {

    color: white;
    background: #3f51b5;
    margin-left: 35px;
    display: flex;
    align-items: center;
    min-width: unset;
    margin-top: -5px;
cursor:pointer;
}
.inpt {
    width: 100px;
    height: 22px;
    border: 1px solid grey;
}