<div fxLayout="row" fxLayoutWrap="wrap">

	<div fxFlex.gt-sm="100%" fxFlex="100">
		<mat-card>
			<mat-card-title>
				Captive Status Application
			</mat-card-title>
			<div fxLayout="row" fxLayoutAlign="start center">
				    <mat-card-content>
				<button mat-fab mat-fab-card-float class="mr-1" color="warn" (click)='newCs()'><mat-icon>add</mat-icon></button>
				<mat-form-field class="ml-xs mr-xs" style="width: 100%;">
					<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="{{this.commonUtils.getProp('seller')}} Edc Name" [(ngModel)]='searchSellerOrgId'
					 [required]="isMandatory" (ngModelChange)="onEdcChange()">
						<mat-option *ngFor="let edc of edcList" [value]="edc.id">
							{{ edc.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="ml-xs mr-xs" style="width: 100%;">
					<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="{{this.commonUtils.getProp('seller')}} Service number"
					 [(ngModel)]='searchSellerCompanyServiceId' [required]="isMandatory">
						<mat-option *ngFor="let companyService of sellerCompanyServices" [value]="companyService.sellerCompanyServiceId">
							{{ companyService.sellerCompanyName}} - {{ companyService.sellerCompanyServiceNumber }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
					<mat-select class="ml-xs mr-xs" style="width: 100%;" placeholder="Status" [(ngModel)]="searchStatus">
						<mat-option *ngFor="let status of statuses" [value]="status.key">
							{{status.key}}
						</mat-option>
					</mat-select>					
					</mat-form-field>
				<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="100%">
					<input matInput placeholder="Captive Status Number" [(ngModel)]="searchCode">
				</mat-form-field>
				<hr>

				<mat-card-actions>
					<button mat-raised-button color="primary" class="primary" (click)="fetchResults()">Search</button>
				</mat-card-actions>
			</mat-card-content>
			</div>
			<mat-card-content>
				
				<ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
				 [scrollbarV]="true">
					<ngx-datatable-column name="Edc Name">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.sellerOrgName}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Company Name">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.sellerCompanyName}}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="Voltage">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.voltageName}}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="Status">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.statusCode}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Captive Status Number">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							{{row.code}}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="Actions">
						<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
							<button mat-raised-button color="primary" class="mr-1" (click)="editCs(row['id'])">Open</button>
						</ng-template>
					</ngx-datatable-column>

				</ngx-datatable>

			</mat-card-content>
		</mat-card>

	</div>

</div>