<mat-toolbar color="blue-grey">
    <mat-toolbar-row> 
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>
  
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start" class="mat-card-top">
      <div fxFlex.gt-sm="80" fxFlex="100">
          <div fxLayout="row" fxLayoutWrap="wrap">
              <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                  <mat-card class="pricing-plan">
                      <mat-card-title><h2>STOA</h2></mat-card-title>
                      <mat-card-content fxLayoutAlign="left">
                          <mat-list dense>
                              <mat-list-item fxLayoutAlign="left"><h4>Pre Request Condition For applying OAA</h4></mat-list-item>
                              <mat-list-item fxLayoutAlign="left">1. Check for valid EWA</mat-list-item>
                              <mat-list-item fxLayoutAlign="left">2. Applying Period should be within EWA</mat-list-item>
                              <mat-list-item fxLayoutAlign="left">3. Quantum should be within EWA</mat-list-item>
                              <mat-list-item>&nbsp;</mat-list-item>
                          </mat-list>
                      </mat-card-content>
                      <mat-card-actions class="pb-1" fxLayoutAlign="center start">
                          <button mat-raised-button color="accent">Apply</button>
                      </mat-card-actions>
                  </mat-card>
              </div>
              <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                  <mat-card class="pricing-plan">
                      <mat-card-title><h2>MTOA</h2></mat-card-title>
                      <mat-card-content fxLayoutAlign="left">
                          <mat-list dense>
                            <mat-list-item fxLayoutAlign="left"><h4>Pre Request Condition For applying OAA</h4></mat-list-item>
                            <mat-list-item fxLayoutAlign="left">1. Check for valid EWA</mat-list-item>
                            <mat-list-item fxLayoutAlign="left">2. Applying Period should be within EWA</mat-list-item>
                            <mat-list-item fxLayoutAlign="left">3. Quantum should be within EWA</mat-list-item>
                            <mat-list-item>&nbsp;</mat-list-item>

                          </mat-list>
                      </mat-card-content>
                      <mat-card-actions class="pb-1" fxLayoutAlign="center start">
                          <button mat-raised-button color="accent">Apply</button>
                      </mat-card-actions>
                  </mat-card>
              </div>
  
              <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
                  <mat-card class="pricing-plan">
                      <mat-card-title><h2>LTOA</h2></mat-card-title>
                      <mat-card-content fxLayoutAlign="left">
                          <mat-list dense>
                            <mat-list-item fxLayoutAlign="left"><h4>Pre Request Condition For applying OAA</h4></mat-list-item>
                            <mat-list-item fxLayoutAlign="left">1. Check for valid EWA</mat-list-item>
                            <mat-list-item fxLayoutAlign="left">2. Applying Period should be within EWA</mat-list-item>
                            <mat-list-item fxLayoutAlign="left">3. Quantum should be within EWA</mat-list-item>
                            <mat-list-item>&nbsp;</mat-list-item>

                          </mat-list>
                      </mat-card-content>
                      <mat-card-actions class="pb-1" fxLayoutAlign="center start">
                          <button mat-raised-button color="accent">Apply</button>
                      </mat-card-actions>
                  </mat-card>
              </div>
          </div>
      </div>
  </div>