@import "../../../../../assets/styles/scss/components/timeline";

.chips{
	margin: 5px 0;
}

.chip {
	display: inline-block;
    padding: 0 5px;
    height: 26px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 7px;
    background-color: #e69090;
}
